{% extends 'base.html.twig' %}

{% block title %}{{ 'title.observation.new' | trans | capitalize }}{% endblock %}

{% block body %}
    <h3>{{ 'title.observation.new' | trans | capitalize }}</h3>

    {{ include('observation/_form.html.twig') }}

    <a href="{{ path('myObservation_index') }}">back to list</a>

{% endblock %}
